* {
    margin: 0;
    padding: 0;
    border: none;
}
a {
    text-decoration: none;
}
body {
    font-family: "Poppins", sans-serif;
}
button:hover{
    background: transparent;
    border: 2px solid #3C3153;
    color:#3C3153;
    transform: scale(1.1);
    transition: .4s;
}
.container {
    width: 1140px;
    margin: 0 auto;
}
#header {
    background: #181818;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
.header-title a {
    font-weight: 400;
    font-size: 15px;
    color: #FFFFFF;
    padding-right: 50px;
}
.header-title .header-a {
    font-size: 12px;
}
.header-title button {
    width: 120px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 14px;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.4px;
    color: #000000;
}
#hero {
    background-image: url("../img/hero.back.svg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    min-height: 120vh;
    position: relative;
}
.hero-dad {
    padding-top: 470px;
}
.hero h2 {
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
}
.hero h1 {
    font-weight: 400;
    font-size: 54px;
    text-align: center;
    color: #FFFFFF;
    padding: 10px 0;
}
.hero p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #C0C0C0;
    padding-bottom: 60px;
}
.hero-title a {
    color: #FFFFFF;
    padding-top: 10px;
}
.hero-title h3 {
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF;
    padding-left: 5px;
}
.hero-title {
    display: flex;
    align-items: center;
    justify-content: end;
    position: absolute;
    right: 10px;

}
.hero-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}
#blocks {
    background: #000000;
    padding: 80px 0;
}
.block-title h1 {
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    padding: 10px 0;
}
.block-title p {
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
    padding-bottom: 30px;
}
.block-left {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.block-right {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.block-img {
    position: relative;
    margin: 5px 5px;
}
.block-img-title {
    position: absolute;
    bottom: 40px;
    left: 20px;
}
.block-img-title {
    position: absolute;
    bottom: 40px;
    left: 20px;
}
.block-img-title p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
    padding: 10px 0;
}
.block-img-title button {
    width: 150px;
    height: 42px;
    background: #FFFFFF;
    border-radius: 14px;
}
.block-img-title h1 {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.figur {
    position: absolute;
    clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
    background: #000000;
    width: 32px;
    height: 32px;
    bottom: 6px;
    left: 5px;
    animation-name: circle;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

#mountain {
    background-image: url("../img/mountain.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 90vh;
    position: relative;
}
.mountain h1 {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.mountain p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}
.mountain-nav {
    position: absolute;
    right: 70px;
    top: 260px;
}
.mountain-title {
    display: flex;
    align-items: end;
    justify-content: end;
    position: absolute;
    bottom: 20px;
    right: 60px;
}
.mountain-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}
.mountain-title a {
    color: #FFFFFF;
    padding-top: 10px;
}
.mountain-title h3 {
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF;
    padding-left: 5px;
}
#mack {
    background: black;
    position: relative;
    min-height: 75vh;
}
/*.mack {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: space-between;*/
/*}*/
.mack button {
    background: #FFFFFF;
    border-radius: 14px;
    width: 150px;
    height: 50px;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.4px;
    color: #000000;
    padding-left: 30px;
}
.all {
    clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
    background: #000000;
    width: 32px;
    height: 32px;
    position: absolute;
    bottom: 208px;
    left: 195px;
}
.mack h2 {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
    padding-top: 100px;
}
.mack h1 {
    font-weight: 400;
    font-size: 28px;
    color: #FFFFFF;
    padding: 10px 0;
}
.mack p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 15px 0;
}
.mack img {
    position: absolute;
    top: 0;
    right: 0;
}
/*.mack-img {*/
/*    display: flex;*/
/*    align-items: end;*/
/*    justify-content: end;*/
/*    background-image: url("../img/photo.svg");*/
/*    background-repeat: no-repeat;*/
/*    width: 836px;*/
/*    min-height: 80vh;*/
/*}*/
.mack-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}
.mack-img a {
    color: #FFFFFF;
    padding-top: 10px;
}
.mack-img h3 {
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF;
    padding-left: 5px;
}
#monster {
    background-image: url("../img/monster.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 90vh;
    position: relative;
}
.monster h1 {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.monster p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}
.monster-nav {
    position: absolute;
    right: 130px;
    top: 260px;
}
.monster-title {
    display: flex;
    align-items: end;
    justify-content: end;
    position: absolute;
    bottom: 20px;
    right: 60px;
}
.monster-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}
.monster-title a {
    color: #FFFFFF;
    padding-top: 10px;
}
.monster-title h3 {
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF;
    padding-left: 5px;
}
#past {
    background: black;
    min-height: 70vh;
}
.past h1 {
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 90px;
}
.past p {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: #C0C0C0;
    padding: 5px 0;
}
.past-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
}
#star {
    background-image: url("../img/star-back.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 90vh;
    position: relative;
}
.star h1 {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.star p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}
.star-nav {
    position: absolute;
    right: 130px;
    top: 260px;
}
.star-title {
    display: flex;
    align-items: end;
    justify-content: end;
    position: absolute;
    bottom: 20px;
    right: 60px;
}
.star-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}
.star-title a {
    color: #FFFFFF;
    padding-top: 10px;
}
.star-title h3 {
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF;
    padding-left: 5px;
}
#need {
    background: black;
    min-height: 60vh;
    position: relative;
}
.need h1 {
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 100px;
}
.need p {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: #C0C0C0;
    padding: 20px 0;
}
.need-line {
    clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
    background: #000000;
    width: 32px;
    height: 32px;
    position: absolute;
    bottom: 130px;
    left: 688px;
}
.need button {
    background: #FFFFFF;
    border-radius: 14px;
    width: 150px;
    height: 50px;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.4px;
    color: #000000;
    padding-left: 30px;
    margin: 0 490px;
    position: relative;
}
#pages {
    background: black;
    min-height: 96vh;
}
.pages-back {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pages-nav p {
    font-weight: 400;
    font-size: 13px;
    color: #C0C0C0;
}
.pages-title h2 {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
    padding-bottom: 15px;
}
.pages-title a {
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;

}
.pages-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pages-one {
    padding-right: 80px;
    margin-top: 65px;
}
.pages-two {
    padding-right: 80px;
    margin-top: 105px;
}
.pages-line {
    width: 1140px;
    height: 2px;
    background: #FFFFFF;
    border-radius: 0;
    margin: 40px 0;
}
.pages-our h1 {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.pages-our p {
    font-weight: 400;
    font-size: 13px;
    color: #C0C0C0;
}
.our-line {
    width: 428px;
    height: 52px;
    background: #F9FAFB;
    border: 1px solid #E5E7EB;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: end;
}
.our-cub {
    width: 55px;
    height: 30px;
    top: calc(50% - 30px/2);
    background: #000000;
    border-radius: 11px;
}
.pages-our {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pages-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}
.pages-icon p {
    font-weight: 400;
    font-size: 14px;
    color: #C0C0C0;
}
.pages-icon a {
    color: #C0C0C0;
    font-size: 25px;
    padding-left: 10px;
}

















/*#block {*/
/*    background: #000000;*/
/*    padding-bottom: 70px;*/
/*}*/
/*.block-h1 {*/
/*    font-weight: 400;*/
/*    font-size: 40px;*/
/*    text-align: center;*/
/*    color: #FFFFFF;*/
/*    padding-top: 150px;*/
/*}*/
/*.block-h2 {*/
/*    font-weight: 400;*/
/*    font-size: 23px;*/
/*    text-align: center;*/
/*    color: #C0C0C0;*/
/*    padding-bottom: 40px;*/
/*}*/

/*.block-title h3 {*/
/*    font-weight: 400;*/
/*    font-size: 14px;*/
/*    letter-spacing: 2px;*/
/*    text-transform: uppercase;*/
/*    color: #FFFFFF;*/
/*    padding-top: 400px;*/
/*    margin-left: 30px;*/
/*}*/
/*.block-title p {*/
/*    font-weight: 400;*/
/*    font-size: 14px;*/
/*    line-height: 20px;*/
/*    color: #C0C0C0;*/
/*    padding: 20px 0;*/
/*    margin-left: 30px;*/
/*}*/

/*.block-one {*/
/*    position: relative;*/
/*    background-image: url("../img/block-one.svg");*/
/*    background-repeat: no-repeat;*/
/*    width: 565px;*/
/*    min-height: 90vh;*/
/*}*/
/*.block-title button {*/
/*    background: #FFFFFF;*/
/*    border-radius: 14px;*/
/*    width: 150px;*/
/*    height: 50px;*/
/*    font-weight: 400;*/
/*    font-size: 16px;*/
/*    letter-spacing: 0.4px;*/
/*    color: #000000;*/
/*    padding-left: 30px;*/
/*    margin-left: 30px;*/
/*}*/
/*.oll {*/
/*    clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);*/
/*    background: #000000;*/
/*    width: 32px;*/
/*    height: 32px;*/
/*    position: absolute;*/
/*    bottom: 35px;*/
/*    left: 35px;*/
/*}*/

/*.block-two {*/
/*    position: relative;*/
/*    background-image: url("../img/block-two.svg");*/
/*    background-repeat: no-repeat;*/
/*    width: 565px;*/
/*    min-height: 90vh;*/
/*}*/
/*.block-title {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: space-between;*/
/*    padding-bottom: 20px;*/
/*}*/
/*.block-three {*/
/*    position: relative;*/
/*    background-image: url("../img/block-three.svg");*/
/*    background-repeat: no-repeat;*/
/*    width: 557px;*/
/*    min-height: 90vh;*/
/*}*/
/*.block-four {*/
/*    position: relative;*/
/*    background-image: url("../img/block-four.svg");*/
/*    background-repeat: no-repeat;*/
/*    width: 557px;*/
/*    min-height: 90vh;*/
/*}*/
/*.block-titles {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: space-evenly;*/
/*    padding-bottom: 20px;*/
/*}*/
/*.block-titles h3 {*/
/*    font-weight: 400;*/
/*    font-size: 14px;*/
/*    letter-spacing: 2px;*/
/*    text-transform: uppercase;*/
/*    color: #FFFFFF;*/
/*    padding-top: 380px;*/
/*    margin-left: 30px;*/
/*}*/
/*.block-titles p {*/
/*    font-weight: 400;*/
/*    font-size: 14px;*/
/*    line-height: 20px;*/
/*    color: #C0C0C0;*/
/*    padding: 20px 0;*/
/*    margin-left: 30px;*/
/*}*/
/*.block-titles button {*/
/*    background: #FFFFFF;*/
/*    border-radius: 14px;*/
/*    width: 150px;*/
/*    height: 50px;*/
/*    font-weight: 400;*/
/*    font-size: 16px;*/
/*    letter-spacing: 0.4px;*/
/*    color: #000000;*/
/*    padding-left: 30px;*/
/*    margin-left: 30px;*/
/*}*/